* {
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #373F51;
    width: 100%;
}

.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: auto;
    width: 70px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu {
    width: 100%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.welcome {
    margin-top: 3%;
    margin-bottom: 5%;
}

.menu-intro {
    width: 70%;
    justify-content: space-around;
}

.property {
    width: 60%;
    min-width: 20%;
    max-height: 15em;
    min-height: 10em;
    display: flex;
    align-items: center;
    background-color: #A9BCD0;
    border-radius: 15px;
    margin: 20px;

}

.property:hover {
    background-color: #b5c6d8;
}

.property-image {
    max-width: 50%;
    height: 13em;
    object-fit: cover;
    position: left;
    border-radius: 15px;
}

.property-description {
    width: 55%;
    padding: 15px;
    align-items: left;
    font-size: 22px;
}

.property-name {
    font-weight: bold;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input {
    background-color: #DAA49A;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
}

.description {
    width: 30%;
    height: 100%;
    padding: 10px;
    background-color: aliceblue;
}

.submit {
    margin-top: 10px;
    width: 32%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(168, 167, 167);
}

.submit:hover {
    background-color: rgb(207, 206, 206);
}

.checkbox {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    color: rgb(84, 84, 84);
    font-size: 14px;
    width: 32%;
}

.show-password {
    margin-left: 5px;
}

.t-property-name {
    font-size: 2.5em;
}

form button[type="submit"] {
    margin-top: 10px;
    width: 16em;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(168, 167, 167);
}

form button[type="submit"]:hover {
    background-color: rgb(207, 206, 206);
}

footer {
    bottom: 0;
    width: 100%;
    max-height: 100px;
    text-align: left;
    padding: 10px 0;
    background-color: #373F51;
}

.continer {
    display: flex;
    flex-direction: column;

} 