@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    font-family: quicksand;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #373F51;
    width: 100%;
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: auto;
    width: 40px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu {
    width: 100%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
}

.background {
    background-image: url("/static/img/artem-bryzgalov-phmgfNIITL8-unsplash.jpg");
    background-size: cover;
}

.welcome {
    margin: 7%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome p, h3{
    padding: 10px;
    width: 90%;
    text-align: center;
}

.welcome h3 {
    border: 1px solid #7f8187;
    border-radius: 5px;
}

.welcome-text {
    border-radius: 10px;
    width: 90%;
    background-color: white;
    opacity: 0.6;
    display: flex;
    justify-content: center;
}

.review-menu {
    color: white;
    height: 15em;
    margin: 15%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.reviews {
    display: flex;
    justify-content: space-between;
}

.review {
    max-width: 30%;
}

.news-slider {
    width: 60%;
}

.swiper-slide {
    max-width: 100%;
}

.property {
    width: 60%;
    min-width: 20%;
    max-height: 15em;
    min-height: 10em;
    display: flex;
    align-items: center;
    background-color: #ced4db;
    border-radius: 15px;
    margin: 30px;
    opacity: 0.7;
}

.properties-background {
    background-image: url("/static/img/augustine-wong-T0BYurbDK_M-unsplash.jpg");
    background-size: cover;
    padding-bottom: 120px;
}

.property:hover {
    opacity: 0.8;
    background-color: #d4dbe3;
}

.property-image {
    max-width: 50%;
    height: 13em;
    object-fit: cover;
    position: left;
    border-radius: 15px;
}

.property-description {
    width: 55%;
    padding: 15px;
    align-items: left;
    font-size: 22px;
}

.property-name {
    font-weight: bold;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input {
    background-color: #DAA49A;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
}

.description {
    width: 30%;
    height: 100%;
    padding: 10px;
    background-color: aliceblue;
}

.submit {
    margin-top: 10px;
    width: 32%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(168, 167, 167);
}

.submit:hover {
    background-color: rgb(207, 206, 206);
}

.checkbox {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    color: rgb(84, 84, 84);
    font-size: 14px;
    width: 32%;
}

.show-password {
    margin-left: 5px;
}

.t-property-name {
    font-size: 2.5em;
}

form button[type="submit"] {
    margin-top: 10px;
    width: 16em;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(168, 167, 167);
}

form button[type="submit"]:hover {
    background-color: rgb(207, 206, 206);
}

footer {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: left;
    padding: 10px 0;
    background-color: #373F51;
}

.socials-container {
    margin-right: 15px;
}

.socials {
    color: white;
    height: 30px;
    margin: 15px;
}

.continer {
    display: flex;
    flex-direction: column;

} 
