<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakersBnB</title>
    <title>{% block title %}MakersBNB{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<header>
    <a href="/index"><h1>MakersBnB</h1></a>
    <a href="/create_user">Register as a User</a>
</header>
<body>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
