{% extends 'base.html' %}

{% block title %}MakersBNB{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <h3>Register</h3>

    <form action="/create_user" method="POST">
        
        {% if errors %}
            <p class="errors">
                There were errors with your submission: {{errors}}
            </p>
        {% endif %}

        <input type="text" name="username">
        <br>
        <input type="text" name="email">
        <br>
        <input type="text" name="password">
        <br>
        <input type="text" name="phone">
        <br>
        <input type="submit" value="Register">
    </form>
    <br>
    <footer>@TeamVenera</footer>
{% endblock %}
