{% extends 'base.html' %}

{% block title %}MakersBNB{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="menu">
        <div class="welcome">
            <h3>Welcome to MakersBnB, the fastest growing property hire app in the world!</h3>
        </div>
        <div class="menu-intro">
            Welcome to MakersBnB, the premier destination for exceptional property rentals!
            <br> 
            As the fastest-growing property hire app globally, MakersBnB is dedicated to redefining your travel experiences. Whether you're an enthusiastic traveler in search of distinctive accommodations or a passionate host eager to share your space, our platform is designed to connect you with unparalleled opportunities.
            <br>
            At MakersBnB, we pride ourselves on offering a diverse range of unique properties, from cozy urban apartments to charming rural retreats. Each booking with us is an invitation to embark on a personalized adventure, allowing you to uncover the essence of each destination.
            For hosts, MakersBnB provides a gateway to a vibrant global community of travelers seeking one-of-a-kind spaces. Joining our platform means becoming part of a dynamic network that values authenticity, creativity, and meaningful connections between hosts and guests.
            <br>
            As we continue to expand and innovate, MakersBnB remains committed to enhancing your travel journey. Our user-friendly app ensures a seamless experience, enabling you to effortlessly discover, book, and share spaces. Join the MakersBnB community today and let us transform the way you explore the world, making every stay extraordinary and unforgettable. Your next adventure awaits with MakersBnB!
        </div> 
    </div>
    <footer>@TeamVenera</footer>
{% endblock %}

