{% extends 'base.html' %}

{% block title %}MakersBNB{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}


<form action="/log_in" method="POST">
    <div class="log-in-container">
        <div class="welcome"><h3>Log in to MakersBnB</h3></div>
            {% if errors %}
                <p class="errors">
                    There were errors with your submission: {{errors}}
                </p>
            {% endif %}
            <input placeholder="E-mail" class="input" type="text" name="email">
            <br>
            <input id="myInput" placeholder="Password" class="input" type="password" name="password">
            <br>
            <div class="checkbox"><input type="checkbox" onclick="myFunction()"><div class="show-password">Show Password</div></div>
            <br>
            <input class="submit" type="submit" value="Log in">
        </div>
    </div>
</form>
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        }
</script>

{% endblock %}
