{% extends 'base.html' %}

{% block title %}MakersBNB{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="menu">
    <div class="welcome">
        <h3>You are looking at {{property.name}} booking details.</h3>
    </div>
    <div class="property">
        <div>
            <img class="property-image" src="/static/img/{{property.name}}.png" alt="castle">
        </div>
        <div class="property-description">
            <p><a class="property-name" href="/property_{{property.id}}">{{property.name}}</a></p>
            <br>
            <p>Description: {{property.description}}</p> 
            <br>
            <p>Cost per night: £{{property.cost_per_night}}</p>
            <br>
            {% for booking in bookings %}
                <p>Booking start date: {{ booking.start_date }}</p>
                <p>Booking end date: {{ booking.end_date }}</p>
            {% endfor %}
            <br>
            <form action="/make_booking" method="POST">
                <input type="hidden" name="property_id" value="{{ property.id }}">
                <input type="hidden" name="owner_id" value="{{ property.user_id }}">
                <button type="submit" class="make_booking_button">Book this property</button>
            </form>
        </div>
    </div>
        <div class="calendar">
            <div class="month">
                <i class="fas fa-angle-left prev"></i>
                <div class="date">
                    <h1></h1>
                    <p></p>
                </div>
                <i class="fas fa-angle-right next"></i>
            </div>
            <div class="weekdays">
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
                <div>Sun</div>
            </div>
            <div class="days">
            </div>
        </div>

    <a href="/property_list" class="submit">Back to all property listings</a>
    
</div>
{% endblock %}

{% block scripts %}
<script>
    const date = new Date();

    const renderCalendar = () => {
    const monthDays = document.querySelector('.days')

    const lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();

    const prevLastDay = new Date(date.getFullYear(), date.getMonth(), 0).getDate();

    const firstDayIndex = date.getDay();

    const lastDayIndex = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDay();

    const nextDays = 7 - lastDayIndex;

    const months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
    ];

    document.querySelector('.date h1').innerHTML = months[date.getMonth()];
    document.querySelector('.date p').innerHTML = new Date().toDateString();

    let days = ""

    for(let x = firstDayIndex; x > 0; x--) {
        days += `<div class="prev-date">${prevLastDay - x + 1}</div>`;
    }

    for(let i = 1; i<= lastDay; i++){
        if(i=== new Date().getDate() && date.getMonth() === new Date().getMonth()){
            days += `<div class="today">${i}</div>`;
        } else {
            days += `<div>${i}</div>`;
        }
        
    }

    for(let j = 1; j <= nextDays; j++) {
        days += `<div class="next-date">${j}</div>`;
    }
    monthDays.innerHTML = days;
    }

    document.querySelector('.prev').addEventListener('click', () => {
        date.setMonth(date.getMonth() - 1);
        renderCalendar();
    })

    document.querySelector('.next').addEventListener('click', () => {
        date.setMonth(date.getMonth() + 1);
        renderCalendar();

    }) 

    renderCalendar();
</script>
{% endblock %}