{% extends 'base.html' %}

{% block title %}MakersBNB{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="menu">
        <div class="welcome">
            <h3>See our fabulous properties below!</h3>
        </div>

        {% for property in properties %}
        <div class="property">
            <div class="property-image-container">
                <img class="property-image" src="" alt="castle" data-property-name="{{property.name}}">
            </div>
            <div class="property-description">
                <p>{{property.name}}</p>
                <br>
                <p>Description: {{property.description}}</p> 
                <br>
                <p>Cost per night: £{{property.cost_per_night}}</p>
            </div>
            <a href="/property_{{property.id}}" class="submit">Book</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.property-image').forEach(img => {
            var propertyName = img.getAttribute('data-property-name');
            fetch("https://apis.scrimba.com/unsplash/photos/random?orientation=landscape&query=house+" + encodeURIComponent(propertyName))
                .then(response => response.json())
                .then(data => {
                    var smallImageUrl = data.urls.small;
                    img.src = smallImageUrl;
                })
                .catch(error => {
                    console.error('Error fetching image:', error);
                });
        });
    });
</script>
{% endblock %}
