{% extends 'base.html' %}

{% block title %}MakersBNB{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="menu">
        <div class="welcome">
            <h3>See our fabulous properties below!</h3>
        </div>

        {% for property in properties %}
        <div class="property">
            <div class="property-image">
                <img src="" alt="">
            </div>
            <div class="description">
                {{property.name}}
                <br>
                Description: {{property.description}}
                <br>
                Cost per night: {{property.cost_per_night}}
            </div>
        </div>
        {% endfor %}
    </div>
    
    <footer>@TeamVenera</footer>
{% endblock %}