{% extends 'base.html' %}

{% block title %}MakersBNB{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<form action="/user_{{ username }}" method="GET">
    <div class="user-account-container">
        <h3>My account - Welcome {{ username }}</h3>

        {% if errors %}
        <p class="errors">
            There were errors with your submission: {{errors}}
        </p>
        {% endif %}

        {% if properties %}
        {% for property in properties %}
        <div class="property">
            <img class="property-image" src="{{ url_for('serve_image', image_id=property.id) }}"
                alt="{{ property.name }}">
            <div class="property-description">
                {{property.name}}
                <br>
                Description: {{property.description}}
                <br>
                Cost per night: {{property.cost_per_night}}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No properties listed.</p>
        {% endif %}

        <h4>Update my details</h4>
        <div class="inputs">
            <input class="input" type="text" name="password" placeholder="New password">
            <br>
            <input class="input" type="text" name="email" placeholder="New email">
            <br>
            <input class="input" type="text" name="phone" placeholder="New phone number">
            <br>
            <input class="submit" type="submit" value="Save">
            <br>
            <input class="submit" type="submit" value="Sign out">
        </div>
    </div>
</form>
{% endblock %}